{{- if not site.Config.Privacy.GoogleAnalytics.Disable -}}
  {{ partial "google_analytics.html" . }}
{{- end -}}
{{ if .Site.Params.matomo.url }}
    <script>
      var _paq = window._paq = window._paq || [];
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(["setDoNotTrack", true]);
      _paq.push(["disableCookies"]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="{{ .Site.Params.matomo.url | absURL }}";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '{{ .Site.Params.matomo.siteId }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'js/'; s.parentNode.insertBefore(g,s);
      })();
    </script>
{{ end }}
